{% extends '../_base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <form action="#" method="post" class='col s12 m10 l6 offset-m1 offset-l3' autocomplete='off'>
            
            <h1 class='header center-align'>Login</h1>

            {% include '../_messages.html' %}


                <div class="row row-no-margin-bottom{% endif %}">
                    <div class='input-field min-margin-bottom col s12 l12'>
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                    </div>
                </div>


            <div class="row">
                <button class='btn col s12 m4 offset-m8 l3 offset-l9'>
                    Enviar
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </form>

       
    </div>
</div>
{% endblock content %}
