{% extends '../_base.html' %}

{% block content %}

      <div class="container">
        <br> </br>
        <div class="row">
            <div class="l10">
                <a href="/registrar-usuario" class="waves-effect waves-light btn"><i class="mdi-content-add left"></i>Agregar Usuario</a>
            </div>
            
        </div>
        <div class="row">
            <div class="col s10">
                <table class="striped">
                    <thead>
                      <tr>
                          <th data-field="id">Nro</th>
                          <th data-field="nombre">Nombre</th>
                          <th data-field="email">Email</th>
                      </tr>
                    </thead>

                    <tbody class="agregar_listado_usuario">
                       
                        {% for usuario in lista_usuarios %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{usuario.usuario}}</td>
                            <td><a href="">{{usuario.email}}</a></td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
      </div>

{% endblock content %}
{% block js %}
<script src='js/socket.io.js'></script>
<script>
    $(document).ready(function() {
        var socket = io();
        socket.on('crearusuario', function(data){
            var html = "<tr><td>"+"10"+"</td><td>"+data.usuario+"</td><td><a href=''>"+data.email+"</a></td></tr>"
        
            $(".agregar_listado_usuario").prepend(html)
                    
        });
    });
</script>
{% endblock js %}