{% extends '../_base.html' %}

{% block content %}

      <div class="container">
        <br></br>
        <div class="row">
            <form action="/registrar-usuario" method="POST" class="col s10">
                <p>
                  <label for="">Nombre</label>
                  <input type="text" name="nombre" placeholder="Nombre">
                </p>
                <p>
                  <label for="">Email</label>
                  <input type="text" name="email" placeholder="Email">
                </p>
                <p>
                  <label for="">Password</label>
                  <input type="password" name="passwrod" placeholder="Password">
                </p>
                <br>
                <button class="btn waves-effect waves-light" type="submit" >Guardar
                <i class="mdi-content-send right"></i>
              </button>
              <p>{{err.errmsg}}</p>
            </form>

        </div>
      </div>

{% endblock content %}
