<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>

        <a href="#!" class="brand-logo">S.G.P.</a>

        <ul class="right hide-on-med-and-down">

          <li><a href="">se detuvo</a></li>
          <li><a href="">
           Detener
          </a></li>

          <li><a href="#">{{ user.usuario }}</a></li>
          <li><a href="">Salir</a></li>
        </ul>
      </div>
    </nav>
</div>

<div>
    <ul id="slide-out" class="side-nav">
    {% if user %}
        
    <li><a href="/registrar-usuario">
        <i class="mdi-social-person"></i>
        <div class='inline-block'>Usuarios:nuevo</div>
    </a></li>
    
    <li><a href="/listar-usuarios">
        <i class="mdi-social-person"></i>
        <div class='inline-block'>Usuarios:lista</div>
    </a></li>
    <li><a href="">
        <i class="mdi-editor-border-color"></i>
        <div class='inline-block'>Proyectos</div>
    </a></li>
    <li><a href="">
        <i class="mdi-editor-border-color"></i>
        <div class='inline-block'>Inicio por Area</div>
    </a></li>
    <li>
      <a href="">
        <i class="mdi-editor-insert-drive-file"></i>
        <div class='inline-block'>Reportes</div>
      </a>
    </li>
    
    <li><a href="/iniciar-proyecto">
        <i class="mdi-navigation-refresh"></i>
        <div class='inline-block'>Iniciar Proyecto</div>
    </a></li>

    <li><a href="">
        <i class="mdi-navigation-refresh"></i>
        <div class='inline-block'>Historial de Proyectos</div>
    </a></li>

    <li>
      <a href="">
      <i class="mdi-file-file-download"></i>
      <div class='inline-block'>Exportar Excel</div>
      </a>
    </li>

      <li>
      <a href="">Finalizar</a>
    </li>
    {% endif %}
  </ul>
</div>
